# Ignore artifacts:
build
coverage

# Ignore fonts and images:
fonts
**/*.ico

 node_modules
 .next
 .husky
 .prettierignore
 .stylelintignore
 .eslintignore
 stories
 storybook-static
 *.log
 playwright-report
 .nyc_output
 test-results
 junit.xml
 docs